#left {
    width: 30%;
    height: 400px;
    /* border: 1px solid green; */
    float: left;
    margin: 5px;
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
}
#right {
    width: 68%;
    height: 400px;
    /* border: 1px solid red; */
    margin: 5px;
    float: left;
    text-align: left;
    font-size: 26px;
    margin-top: 10px;
}
#top {
    width: '100%';
    height: 100px;
    /* border: 1px solid blue; */
    margin: 5px;
    clear: both;
    text-align: center;
    font-size: 64px;
}
#z-top {
    width: '100%';
    height: 100px;
    /* border: 1px solid blue; */
    margin: 5px;
    clear: both;
}
#z-middle {
    width: '100%';
    height: 300px;
    /* border: 1px solid green; */
    margin: 5px;
    clear: both;
    display: flex;
    justify-content: center;
}
#z-bottom {
    width: '100%';
    margin: 0 auto;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#z-bottom-box {
    /* border: 1px solid red; */
    margin: 5px;
    width: 350px;
}
#header {
  font-size: 32px;
}
#box-title {
  font-size: 32px;
  margin-bottom: 10px;
}