#green {
    width: 30%;
    height: 200px;
    border: 1px solid green;
    float: left;
    margin: 5px;
}
#red {
    width: 68%;
    height: 200px;
    border: 1px solid red;
    margin: 5px;
    float: left;
}
#blue {
    width: '100%';
    height: 100px;
    border: 1px solid blue;
    margin: 5px;
    clear: both;
}